html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* 给home左侧功能按钮字体设置样式 */
.el-menu-item,
.el-submenu__title {
  font-size: 13px;
}
/* 给左侧功能按钮图标设置样式 */
i.iconfont {
  margin-right: 10px;
}
.box-card {
  margin-top: 15px;
  box-shadow:0 1px 1px rgba(0, 0,0, .15) !important;
}